body {
    
    background-color: #ffcccc; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.contenedor-formulario {
    
    background-color: #ff6699; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px; 
    text-align: center;
}


h1 {
    color: white; 
    margin-bottom: 25px;
}


label {
    color: white; 
    display: block; 
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}


input[type="text"],
input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box; 
}


input[type="submit"] {
    background-color: #cc0066;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}


input[type="submit"]:hover {
    background-color: #99004d; 
}